*{
	font-size: 16px;
    font-family: 'futura';
	margin: 0;
	padding: 0;
	color: black;
}

body{
background-color: white;
}

div{
    border-right: 3px solid black;
    border-left: 3px solid black;
    margin : auto;
    width: 827px;
    height: 920px;
    background-color: #25ab05;
}

h1{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 70px;
}

h2{
    font-size: 18px;
    padding-bottom: 20px;
    padding-left: 70px;
}

.labelFixed{
    display: inline-block;
	margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 70px
}

input[type=text]{
    border : 3px solid black;
	height: 63px;
	width: 682px;
	display: inline-block;
    font-size: 40px;
    margin-left: 70px;
    border-radius: 5px;
    padding-left: 10px;
}

fieldset{
border: none;
}

input[type=submit]{
    border: 3px solid black;
    margin-left: 70px;
    margin-top: 20px;
	color: black;
	background: white;
    border-radius: 4px;
	font-size: 25px;
    width: 181px;
    height: 74px;
}

form#inscription textarea{
    margin-top: 20px;
    border : 3px solid black;
    border-radius: 5px;
	padding: 4px;
	width: 680px;
	height: 150px;
}
    
