html{
	height: 100%;
	width: 100%;
	margin: auto;
}

body{
	color: #343642;
    font-size: 1em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif, sans-serif;
	margin: 0px;
	padding: 0px;
	width:100% auto;
}

#nav{
	background: linear-gradient(deepskyblue, dodgerblue);
	font-size:16px;
	width: 100%;
	height: 75px;
    overflow: hidden;
	display:inline-block;
	text-align: center;
	font-family: 'Audiowide', cursive;
}
#nav ul {
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
	text-decoration: none;
	list-style: none;
	padding-left: 0;
}
#nav ul li{
	display:inline-block;
}
#nav ul li a{
	display: block;
	width: 280px;
	padding-top: 20px;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
	position: relative;
	line-height: 43px;
    color: rgba(0, 0, 0, .7); 
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 32%) inset, 
                0 -2px 0 hsl(210, 100%, 38%) inset, 
                0 -3px 0 hsl(210, 100%, 44%) inset, 
                0 -4px 0 hsl(210, 100%, 50%) inset, 
                0 -5px 0 hsl(210, 100%, 60%) inset;

    
}
#nav ul li a:hover{
	background-position: bottom left;
}

ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
ul li:last-child a{
    border-radius: 0 3px 3px 0;
}

ul li a:hover, 
ul li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
} 
ul li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}
ul li a:hover::before,
ul li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}



.liens{
	width: 978px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}





#container {
	margin-top: 0px;
	visibility: visible;
	zoom: 1;
	opacity: 1;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 70%;
	min-height: 1500px;
	margin: 238px;
}
#part1{
	margin-top: -243px;
	width: 100%;
	float: left;
	overflow: visible;
	height: 33%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.img1{
	display: inline-block;
	margin-right: 280px;
	padding-right: 10px;
	width: 500px;
	height: 300px;
}

#slide{	

	font-family: 'Audiowide', cursive;
	display: inline-block;
	margin-top:40px;
	margin-left:250px;
	width:100%;
	height: 33%;
}
#slide #title{

	display: inline-block;
	color: #046380;
	margin-left: 250px;
	line-height: 32px;
	font-size:40px;
}
.text1{
	padding-bottom: 50px;
	padding-left: 100px;
	display: inline-block;
	width: 50%;
	height: 25%;
	font-size: 20px;
	line-height: 25px;
	color:grey;
	font-weight: lighter;
}

.moi{
	display: inline-block;
	float: right;
	margin-right: 269px;

}


.img{
	border-radius: 50%;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	height: 270px;
}
#part2{
	margin-top: 20px;
	width: 100%;
	float: left;
	overflow: visible;
	height: 33%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.img2{
	border-radius: 45%;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	height: 300px;
	float: left;
	padding-left: 250px;
}


}
#p1 {
	max-width: 200px;
	max-height: 300px;
	display:inline-block;
	margin-right: 100px;
	color:orange;
	vertical-align: top;
}

#text2 {
	padding-top: 75px;
	max-width: 500px;
	max-height: 400px;
	display:inline-block;
	font-size: 20px;
	line-height: 25px;
	color:grey;
	font-weight: lighter;
	float: right;
	padding-bottom: 70px;
}
#part3{
	margin-top: 20px;
	width: 100%;
	float: left;
	overflow: visible;
	height: 700px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);

}
.title{
	color: hsl(200, 44%, 22%);
	font-size: 32px;
	text-align: center;
	font-family: 'Audiowide', cursive;
}
.logo{
	margin-top: 20px;
	width: 265px;
	height: 70px;
	border-radius: 31%;
	padding: 10px;
}
.textx{
	color:grey;
	font-weight: lighter;
	width: 645px;
	font-size: 22px;
}


