/*HEADER FIXER*/
#header {
    position: fixed;
		display: block;
		width: 100%;
		background: #333;
		text-align: center;
		color: #f2f2f2;
    z-index: 9;
}

#header_fixed {
    position: fixed;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
}

#header_fixed {
    top: 0px;
}

h1 {
	font-size: 5em;
	font-family: 'arial' !important;
	color: #fff;
	margin:0;
	padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
	text-align:center;
}

#myVideo1, #myVideo2, #myVideo3, #myVideo4, #myVideo5 {
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
 	background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
	z-index:3;
}


/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
	overflow: hidden;
}

h3 {
  color: white!important;
}

h4 {
  color: white!important;
}

#drone {
	z-index: 9999;
}

.better_text {
	background-color: black;
	width: 400px;
	opacity: 0.3;
	margin-top: -200px !important;
	margin: 0 auto;
	border-radius: 10px;
}

.title_home {
	z-index: 9999;
}

#video_fly {
	width: 500px;
}

#drone {
	margin-top: -180px !important;
}

#fp-nav {
  color: white !important;
  background-color: !important
}

.active {
  color: white !important;
}

.layer {
  margin-top: 230px !important;
}

#logo {
  color: #0058A4;
}

.float {
  float: left;
}

h2 {
  color: black!important;
}

h5 {
  color: black!important;
  font-size: 30px;
}

p {
  color: black !important;
}

.resize {
  margin-top: 10px !important;
}

.hover:hover {
  transition: all 0.2s ease;
  opacity: 0.6;
}

.ariane {
  background-color: #FFFFFF;
  border-bottom: solid 1px #EDEDED;
  border-top: solid 1px #EDEDED;
  width: 100%;
  height: 25px;
  margin-top: -294px;
}

.float_ariane {
  float: left;
  margin-left: 8px;
}

.footer_nav {
  background-color: #95a5a6;
  width: 100%;
  min-height: 50px;

}

.footer_align {
  margin-right: 50px;
}

#section2 > div > div.footer_nav > div > div:nth-child(3) > a {
  margin-top: 10px !important;
}

.view {
  display: none !important;
}

@media only screen and (max-width: 1025px) {
.hidden {
    display: none;
  }

.view {
  display: block !important;
}
}

