/*HEADER FIXER*/
#header {
    position: fixed;
		display: block;
		width: 100%;
		background: #333;
		text-align: center;
		color: #f2f2f2;
    z-index: 9;
}

#header_fixed {
    position: fixed;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
}

#header_fixed {
    top: 0px;
}

h1 {
	font-size: 5em;
	font-family: 'arial' !important;
	color: #fff;
	margin:0;
	padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
	text-align:center;
}

#myVideo1, #myVideo2, #myVideo3, #myVideo4, #myVideo5 {
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
 	background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
	z-index:3;
}


/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
	overflow: hidden;
}

h3 {
  color: white!important;
}

h4 {
  color: white!important;
}

#drone {
	z-index: 9999;
}

.better_text {
	background-color: black;
	width: 400px;
	opacity: 0.3;
	margin-top: -200px !important;
	margin: 0 auto;
	border-radius: 10px;
}

.boutton {
  text-indent: 0;
  border: 1px solid white;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 260px;
  text-decoration: none;
  text-align: center;
}

.boutton:hover {
  color: blue;
  background-color: transparent;
  transition: all 1s ease;
}

.title_home {
	z-index: 9999;
}

#video_fly {
	width: 500px;
}

#drone {
	margin-top: -180px !important;
}

#fp-nav {
  color: white !important;
  background-color: !important
}

.layer {
  margin-top: 230px !important;
}

#logo {
  color: #0058A4;
}

.float {
  float: left;
}

h2 {
  color: black!important;
}

h5 {
  color: black!important;
  font-size: 30px;
}

p {
  color: black !important;
}

.resize {
  margin-top: 10px !important;
}

.hover:hover {
  transition: all 0.2s ease;
  opacity: 0.6;
}

.ariane {
  background-color: #FFFFFF;
  border-bottom: solid 1px #EDEDED;
  border-top: solid 1px #EDEDED;
  width: 100%;
  height: 25px;
  margin-top: -5px;
}

.float_ariane {
  float: left;
  margin-left: 8px;
}

.footer_nav {
  background-color: #E3E3E3;
  width: 100%;
  height: 320px;
}

.footer_align {
  margin-right: 50px;
}

.footer_link {
  margin-top: 20px;
  color: black;
}

.footer_link:hover {
  color: #125CA0;
}

.kickstarrter {
  position: relative;
  top: -96px;
}

.footer_copyright {
  background-color: #34495e;
  height: 500px;
}

#title_entreprise {
  margin-top: 50px !important;
}

.spacing {
  margin-top: 10px; 
}

.spacing_100 {
  margin-top: 100px; 
}

.spacing_50 {
  margin-top: 50px; 
}

.spacing_20 {
  margin-top: 20px; 
}

.team {
  margin-left: 300px;
}

.view {
  display: none !important;
}

@media only screen and (max-width: 1025px) {
.hidden {
    display: none;
  }

.view {
  display: block !important;
}

.footer_link {
  font-size: 14px;
  margin-top: 10px !important;
}

#title_entreprise {
  margin-top: 0px !important;
}

.number {
  color: black !important;
  font-size: 25px !important;
}

/*ODOMETER*/

.odometer {
    font-size: 100px;
}

@import url("//fonts.googleapis.com/css?family=Arimo");
.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-car .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-car .odometer-digit .odometer-digit-spacer {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-car .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-car .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-car .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-car .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  font-family: "Arimo", monospace;
  padding: 0.15em;
  background: black;
  color: white;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  padding: 0 0.15em;
}


.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  left: 0.15em;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
